$base-color: #0000;
$text-color: #ffff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap");

@font-face {
  font-family: "OpenSansExtra";
  src: url("../fonts/open-sans.extrabold.ttf") format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
  background: url(images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  @media (max-width: $lg) {
    flex: auto;
  }
}
.first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  background: rgba(255, 255, 255, 0.212);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5.5px);
  border-right: 1px solid rgba(255, 255, 255, 0.18);

  @media (max-width: $lg) {
    border: none;
  }
}
.info-wrap {
  width: 100%;
  display: flex;
  justify-content: right;
}
.info {
  text-transform: uppercase;
  font-family: "OpenSansExtra";
  color: #000;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
  @media (max-width: $md) {
    font-size: 12px;
  }
}
.info-column {
  justify-content: start;
}
.info-text {
  background-color: rgba(255, 255, 255, 0.7);

  color: #000 !important;
  border-radius: 5px;
  font-size: 15px !important;
  padding: 50px;
}
.info-text p {
  font-weight: 900;
  font-size: 24px;
}
.logo img {
  border-radius: 5px;
  width: 250px;
}
.title {
  font-family: "OpenSansExtra";
  font-weight: 800;
  font-size: 55px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(153, 124, 124, 0.25);
  color: $text-color;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 40px;
  }
  @media (max-width: $lg) {
    font-size: 50px;
  }
  @media (max-width: $sm) {
    font-size: 30px;
  }
}
.title img {
  margin-right: 10px;
  height: 65px;

  @media (max-width: $xl) {
    height: 50px;
  }
  @media (max-width: $sm) {
    height: 40px;
  }
}
.desc-text {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
  color: $text-color;
  text-align: center;
  margin: 0 30px 30px 30px;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 16px;
  }
  @media (max-width: $sm) {
    margin: 20px 30px 20px 30px;
  }
}
.offer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-title {
  font-family: "OpenSansExtra";
  font-weight: 800;
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $text-color;
  margin-bottom: 30px;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 30px;
  }
  @media (max-width: $sm) {
    margin-bottom: 20px;
  }
}
.product {
  text-align: center;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 20px;
  color: $text-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px 0 40px 0;
  border-bottom: 1px solid #fff;
  min-width: 100%;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 16px;
  }
}
.price {
  font-size: 14px;
}
.product-wrap p {
  margin-left: 5px;
}
.product-wrap p span {
  margin-left: 5px;
  font-size: 14px;
}
.product-wrap p span:nth-child(2) {
  color: red;
}
.product-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $sm) {
    margin: 0 30px 0 30px;
  }
}
.order-btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: "OpenSansExtra";
  font-weight: 800;
  background: $text-color;
  text-transform: uppercase;
  width: 130px;
  cursor: pointer;
  margin-left: 30px;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 16px;
    width: 200px;
  }
  @media (max-width: $sm) {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    width: 100px;
  }

  &:hover {
    opacity: 0.8;
  }
}
.app-btn {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  font-family: "OpenSansExtra";
  font-weight: 800;
  background: $text-color;
  width: 230px;
  cursor: pointer;
  margin-bottom: 30px;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 16px;
    width: 200px;
  }

  &:hover {
    opacity: 0.8;
  }
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  color: $text-color;
  width: 100%;

  @media (max-width: $xl), (max-height: $md) {
    font-size: 14px;
  }
  @media (max-width: $sm) {
    font-size: 12px;
  }
}
.footer-wrap a {
  text-decoration: none;
  color: $text-color;
}
.phone,
.email {
  margin: 20px;
}
.second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  @media (max-width: $lg) {
    display: none;
  }
}
.second-column img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #fff;

  @media (max-height: $md) {
    width: 300px;
  }
}
//modal
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  @media (max-width: $sm) {
    padding-top: 20px;
  }
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;

  @media (max-width: $sm) {
    width: 70%;
  }
}
.close {
  color: #000;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.contact-form-title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 30px;

  @media (max-width: $sm) {
    font-size: 20px;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: $text-color;
}
input[type="text"] {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: #fff;
  border-radius: 25px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &::placeholder {
    opacity: 0.6;
  }
  @media (max-width: $sm) {
    width: 90%;
  }
}
#message-content {
  height: 200px;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #000;
}
textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  &::placeholder {
    opacity: 0.6;
  }

  @media (max-width: $sm) {
    width: 90%;
  }
}
input[type="submit"] {
  width: 150px;
  color: $text-color;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 10px;
  margin: 30px 0;
  border: none;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    transform: scale(1.2);
  }
}
